@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Orbitron:wght@400..900&display=swap');
:root{
    --color-texte-casestudy1:#FFFFFF;
    --color-menu-casestudy1: #FFFFFF; 
    --color-text-casestudy1:#FFFFFF;
    --color-background-casestudy1: #111111;
    --color-header-casestudy1: #417282;
    --color-chiffres-casestudy1:#417282;
    --color-darkblue__square:#08071C;
    --color-white__square:#FFFFFF;
    --color-grey__square:#D9D9D9;
    --color-black__square:#000000;
    --color-blue__square:#46A9EE;
    --color-lightblue-casestudy1:#8FC1E3;
    --color-lightgrey-casestudy1:#F5F5F5;
    --color-darkgrey--casestudy1:#222222;
    --color-C8:#C8D9E6;
    --color-56:#567791;
    --color-50:#506F87;
    --color-91:#915756;
    --color-espacement: #FFCDCD;
    --color-btn--casestudy:#3F6D7C;
    --color-text--menu: #417282;
    --color-background--menu: #F3f3f3;
    --color-header-portfolio: #F1F1F1;
    --color-text-header-portfolio: #000000;
    --color-text-portfolio: #FFFFFF;
    --color-h1-portfolio: #4B8497;
    --color-btn-portfolio: #4B8497;
    --color-nav-portfolio: #4B8497;
    --color-background-portfolio: #111111;
    --color-designfiction-background: #0A0127;
    --color-text-designfiction: #FFFFFF;
    --color-cartes-designfiction: #656DC3;
    --color-texte-cartes-designfiction: #FBFCFF;
    --color-background-skills: #222222;
}
/*Code commun*/
*{
    box-sizing: border-box;;
}
/*Téléphone*/
/*Grid*/
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.mgrid-start1{
    grid-column-start: 1;
}
.mgrid-start2{
    grid-column-start: 2;
}
.mgrid-start3{
    grid-column-start: 3;
}
.mgrid-start4{
    grid-column-start: 4;
}
.mgrid-start5{
    grid-column-start: 5;
}
.mgrid-end2{
    grid-column-end: 2;
}
.mgrid-end3{
    grid-column-end: 3;
}
.mgrid-end4{
    grid-column-end: 4;
}
.mgrid-end5{
    grid-column-end: 5;
}
.mgrid-end6{
    grid-column-end: 6;
}
body{
    margin: 0;
}
h1{
    font-size: 33px;
    margin: 0 20px;
    text-align: center;
}
h2{
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 8px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 8px 0;
}
p{
    font-size: 16px;
    margin: 16px 0;
    line-height: 140%;
}
li{
  list-style:disc;  
}
ol{
    padding: 0;
}
.legende{
    font-size: 12px;
    text-align: center;
}
/*Navigation*/
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header-casestudy1);
    z-index: 1000;
    transition: transform 0.3s ease-in-out; 
}

.nav__menu{
    position: absolute;
    top: calc(100% - 57px);
    right: 0;
    background-color: var(--color-background--menu); 
    list-style: none;
    padding-top: 64px;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 16px; 
    width: fit-content; 
    height: 100vh;
    border-radius: 20px 0 0 20px;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.nav__link{
    text-decoration: none;
    color: var(--color-text--menu);
    font-family: 'syne';
    cursor: pointer;
    font-weight: 700;
    margin: 0 16px;
}
a.nav__link:active{
    text-decoration: 1px underline var(--color-text--menu);
}
.nav__menu li{
    list-style: none;
}

.nav__menu.open{
    display: flex;
    width: 50%;
}

.nav--close{
    transform: translateY(-100%);
}

.nav__line{
    display: block;
    width: 40px;
    height: 4px;
    margin: 8px;
    background-color: var(--color-menu-casestudy1);
    transition: all 0.3s ease-in-out;
}
.nav__btn{
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 8px;
    height: 100%;
    justify-content: center;
    z-index: 10;
    
}
.nav__btn.active span:nth-child(1){
    transform: rotate(45deg) translate(0px, 17px);
    background-color: var(--color-text--menu);
}
.nav__btn.active span:nth-child(2){
    opacity: 0;
}
.nav__btn.active span:nth-child(3){
    transform: rotate(-45deg) translate(0px, -17px);
    background-color: var(--color-text--menu);
}
.no-scroll{
    overflow: hidden;
    height: 100vh;
}
.nav--close .nav{
    transform: translateX(-100%);
}
/*Case study*/
.janus, .dataplay{
    background-color: var(--color-background-casestudy1);
    color: var(--color-texte-casestudy1);
    font-family: 'Syne', sans-serif;
}
.janus .header, .dataplay .header{
    background-color: var(--color-header-casestudy1);
    padding-bottom: 56px;
    margin-top: 57px;
    padding-top: 16px;
}
/*Titres et textes*/
.h2__header{
    margin: 16px 20px;
    text-align: center;
}
.text__header{
    margin: 0 20px;
    text-align: center;
}
.number{
    font-size: 48px;
    font-weight: bold;
    color: var(--color-chiffres-casestudy1);
    margin: 0;
    height: fit-content;
    // line-height: 24px;
    transform: translate(-24px, 100%);
}
.section2__typo1{
    font-family: 'Inconsolata';
}
.section2__typo2{
    font-family: 'Hind Siliguri';
}
.section2__typo3{
    font-family: 'merriweather sans';
}
.section2__grille--colonnes--titre{
    font-weight: 700;
}
.pages{
    margin-bottom: 16px;
}
.taille_23{
    font-size: 23px;
}
/*Images*/
.logo{
    width: 40px;
    margin: 8px;
}
.dataplay .logo{
    height: 40px;
    width: auto;
}
img{
    width: 100%;
}
/*Button*/
.header__btn--accueil{
    background-color: transparent;
    border: none;
    margin-top: 16px;
}
.section3__btn{
    display: flex;
    flex-wrap: wrap;
}
.section3__btn--site, .section3__btn--projets, .section3__btn--contact{
    background-color: var(--color-btn--casestudy);
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 8px 16px 8px 0;
    color: var(--color-texte-casestudy1);
    text-decoration: none;
    font-family: 'syne';
}
.insta__btn{
    border-radius: 10px;
    background-color: var(--color-btn--casestudy);
    margin: 10px 0;
    color: var(--color-texte-casestudy1);
    text-decoration: none;
    padding: 8px 16px;
    text-align: center;
    text-wrap: wrap;
}
/*Footer*/
footer{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
footer a{
    color: var(--color-texte-casestudy1);
    font-family: 'syne';
    cursor: pointer;
}
/*Lignes*/
.section1__title--line{
    display: block;
    height: 1px;
    background-color: white;
}
.big__line{
    display: grid;
    height: 1px;
    background-color: white;
    margin: 40px 0 ;

}
/*Sections*/
.janus .section1,.janus .section2,.janus .section3, .dataplay .section1, .dataplay .section2, .dataplay .section3{
    margin: 0 40px;
}
.section2__typographie1, .section2__typographie2, .section2__typographie3{
    margin-top: 40px;
}
/*Section1 */
.section1__numbers{
    margin-top: 120px;
}
.section1__numbers1{
    margin-top: 56px;
}
.janus .section1__typo{
    font-family: 'Inconsolata', monospace;
}
.medium{
    font-weight: 600;
}
.italic{
    font-style: italic;
}
.section1__typo--widht{
    display: flex;
    
}
.section1__typo--widht p{
    margin-right: 8px;
}
/*Section2*/
.section2__grille--icones{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 16px;
}
.section2__grille--espacement{
    text-align: center;
}
/*Section3*/
.section3__btn{
    justify-content: space-evenly;
}
.section3 p{
    margin-top:40px;
    margin-bottom: 24px;
}
/*Carrés*/
.square{
    display: block;
    margin: 16px 4px 0 4px;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
}
.section2__couleurs--secondaires .blue__square,
.section2__couleurs--secondaires .lightblue__square,
.section2__couleurs--secondaires .C56__square,
.section2__couleurs--secondaires .C91__square,
.section2__couleurs--secondaires .grey__square,
.section2__couleurs--secondaires .darkgrey__square,
.section2__couleurs--secondaires .lightgrey__square{
    width: 20px;
    height: 20px;
}
.empty__square{
    display: block;
    margin: 16px 4px 0 4px;
    width: 40px;
    height: 40px;
}
.darkblue__square{
    background-color: var(--color-darkblue__square);
}
.darkgrey__square{
    background-color: var(--color-darkgrey__square);
}
.white__square{
    background-color: var(--color-white__square);
}
.grey__square{
    background-color: var(--color-grey__square);
}
.lightgrey__square{
    background-color: var(--color-lightgrey__square);
}
.black__square{
    background-color: var(--color-black__square);
}
.blue__square{
    background-color: var(--color-blue__square);
}
.lightblue__square{
    background-color: var(--color-lightblue-casestudy1);
}
.C8__square{
    background-color: var(--color-C8);
}
.C56__square{
    background-color: var(--color-56);
}
.C50__square{
    background-color: var(--color-50);
}
.C91__square{
    background-color: var(--color-91);
}
.section1 .darkblue, .white, .grey, .black{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.section1__couleurs--square{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8px auto;
    width: 100%;
}
.section2__couleurs--principales, .section2__couleurs--secondaires {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Icones*/
.icones{
    width: 30px;
    height: 30px;
    margin-top: 16px;
}
/*Espacement*/
.espacement__4px{
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--color-espacement);
}
.espacement__20px{
    display: block;
    height: 20px;
    width: 100%;
    background-color: var(--color-espacement);
}
.espacement__40px{
    display: block;
    height: 40px;
    width: 100%;
    background-color: var(--color-espacement);
}
.espacement__60px{
    display: block;
    height: 60px;
    width: 100%;
    background-color: var(--color-espacement);
}
.espacement__80px{
    display: block;
    height: 80px;
    width: 100%;
    background-color: var(--color-espacement);
}
.espacement__100px{
    display: block;
    width: 100%;
    height: 100px;
    background-color: var(--color-espacement);
}
.section2__grille--espacement p{
    text-align: center;
    margin: 0;
}
/*Portfolio*/
.portfolio{
    color: var(--color-text-portfolio);
    font-family: 'Syne', sans-serif;
    background-color: var(--color-background-portfolio);
}
/*Navigaion*/
.portfolio .nav__top--img{
    margin-left: 20px;
}
.portfolio .nav{
    background-color: #f1f1f170;
    backdrop-filter: blur(5px);
}
.portfolio .nav__line{
    background-color: var(--color-text-header-portfolio);
}
.portfolio .nav__img{
    margin-top: 20px;
    width: 22px;
    margin-bottom: 4px;
}
/*Header*/
.portfolio .header{
    background-color: var(--color-header-portfolio);
    color: var(--color-text-header-portfolio);
}
.portfolio .header__img{
    transform: translateY(-44px);
}
.portfolio .header__text{
    margin: 0 20px;
}
/*Buttons*/
.portfolio .insta__btn{
    margin: 24px auto ;
    width:fit-content;
    margin-top: 24px; 
    font-size: 16px;   
}
/*Titres et textes*/
.portfolio h1{
    font-family: 'satisfy', cursive;
    color: var(--color-h1-portfolio);
    font-size: 33px;
    margin-top: 16px;
}
.portfolio h2{
    font-size: 20px;
    text-align: center;
    z-index: 2;
    font-family: 'syne', sans-serif;
    margin: 8px auto;
    max-width:210px;
    justify-content: center;
}
.portfolio h3{
    font-size: 20px;
}
/*Cartes projets*/
.carte{
    width: 35%;
    aspect-ratio: 0.66;
    border-radius: 20px;
    font-size:14px;
    position: absolute;
    overflow: hidden;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	cursor: pointer;
}
.carte.center{
    width: 45%;
    z-index: 10;
    filter: none;
    filter: drop-shadow(0, 5px, 9px rgb(255, 255,255,));
    
}
.carte.left-1{
    z-index: 5;
    transform: translateX(-90%);
    filter: grayscale(100%);
 &:hover{
    filter: none;
 }
}
.carte.left-2{
    z-index: 1;
    transform: translateX(-180%);
    filter: grayscale(100%);
    display: none;
    
    &:hover{
    filter: none;
 }
}
.carte.right-1{
    z-index:5;
    transform: translateX(90%);
    filter: grayscale(100%); 
    
    &:hover{
    filter: none;
 }
}
.carte.right-2{
    z-index: 1;
    transform: translateX(180%);
    filter: grayscale(100%);
    display: none;

    &:hover{
    filter: none;
 }
}
.hidden{
    display: none;
}
.front-face{
    width: 100%;
    height: 100%;
}
.dataplay__carte, .gastrozen__carte, .janus__carte, .phrases__carte, .designfiction__carte{
    width: 100%;
    height: 100%;
}
.janus__carte{
    background-image: url('../assets/images/portfolio/janus.png');
    background-size: cover;
}
.janus .back-face{
    background-color:#08071C;
}
.dataplay__carte{
    background-image: url('../assets/images/portfolio/dataplay.png');
    background-size: cover;
}
.dataplay .back-face{
    background-color:#131311;
}
.gastrozen__carte{
    background-image: url('../assets/images/portfolio/perso.png');
    background-size: cover;
}
.gastrozen .back-face{
    background-color:#F5F2E9;
    color: var(--color-text-header-portfolio);
}
.designfiction__carte{
    background-image: url('../assets/images/portfolio/design_fiction.png');
    background-size: cover;
}
.designfiction .back-face{
    background-color:#0F023D;
}
.phrases__carte{
    background-image: url('../assets/images/portfolio/phrases.png');
    background-size: cover;
}
.phrases .back-face{
    background-color:#FFE5C4;
    color: var(--color-text-header-portfolio);
}
.back-face{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-top: 10px;
}
.back-face p{
    font-size: 14px;
    margin: 5% 5%;
}
.carte__btn{
    display: block;
    width: fit-content;
    border-radius: 20px;
    background-color: var(--color-btn-portfolio);
    padding: 5px 14px;
    color: var(--color-text-portfolio);
    text-decoration: none;
    margin: 8px auto 5px auto;
    font-size: 12px;
}
.gastrozen__btn{
    display: block;
    width: fit-content;
    border-radius: 20px;
    background-color:grey;
    padding: 5px 14px;
    color: var(--color-text-portfolio);
    text-decoration: none;
    margin: 8px auto 5px auto;
    font-size: 12px;
    cursor: not-allowed;
}
.janus__casestudy{
    display: block;
    width: fit-content;
    color: var(--color-text-portfolio);
    font-size: 14px;
    margin: 8px auto 15px auto;
}
.dataplay__casestudy{
    font-size: 14px;
    color: var(--color-text-portfolio);
    display: block;
    width: fit-content;
    margin: 8px auto 15px auto;
}
.cartes {
    width: 100%;
    height: 300px;
    position: relative;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition:transform 0.8s ease;
}
/*Section*/
.portfolio .section2{
    margin-top: 80px
}
.portfolio .section1{
    margin:80px 20px 0 20px;
}
.portfolio .section2{
    margin:80px 20px;
}
/*Skills*/
.skills_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.skill__ligne1{
    margin-top: 32px;
}
.skills{
    width: 100%;
    margin-bottom: 40px;
}
.skill{
    background-color: var(--color-background-skills);
    width: 100%;
    margin-bottom: 8px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 4px 0;
}
.skill p{
    margin:8px;
    text-align: center;
}
.skills__texte{
    margin-bottom: 40px;
}
.skills__texte1 p, .skills__texte2 p{
    margin:0 ;
}
.skills__texte2{
    margin-top: 16px;
}
.skill img{
    display: block;
    width: 20%;
    margin: 8px auto;
    
}
/*Contact*/
.contact{
    background-color: var(--color-background-skills);
    border-radius: 10px;
    width: fit-content;
    padding: 24px 40px;
    margin: 0 auto;
}
.contact__contenu--header{
    margin: 0 auto;
    text-align: center;
}
.contact h3{
    margin-top: 8px;
    margin-bottom: 16px;
}
.contact p{
    margin: 0;
}
.contact img{
    display: block;
    width: 15%;
    margin: 0 auto;
    text-align: center;
}
.contact a{
    text-decoration: none;
    color: var(--color-text-portfolio);
    text-align: center;
}
.contact__reseaux{
    margin-top: 16px;
    text-align: center;
}
.contact__reseaux--logo{
    margin-top: 24px ;
    display: flex;
    justify-content: space-around;
}
.contact__reseaux img{
    width: 100%;
}

/*Design fiction*/
.design_fiction{
    background:linear-gradient(#07011C, #160457);
    color: var(--color-text-designfiction);
    font-family: 'comfortaa';
}
/*TItres et textes*/
.design_fiction h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: 'orbitron';
}
.design_fiction h2{
    margin-bottom: 40px;
    font-family: 'orbitron';
}
.design_fiction h1{
    margin-top: 48px; 
    font-family: 'orbitron';
}
.design_fiction .section1 p{
    margin-top: 0;
    margin-left: 8px;
}
/*Nav*/
.design_fiction .nav{
    background-color:#07011D; 
}
/*Section*/
.design_fiction .section1, .design_fiction .section2{
    margin: 0 40px;
}
.section1__detection, .section1__personnalisation,.section1__historique{
    margin-bottom: 40px;
}
/*Images*/
.picto{
    width: 60px;
    height: 60px;
}
.design_fiction .logo{
    width: 58px;
    height: auto;
}
.popup__img {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
    background-color: #000000e0;
}
.popup__img.open {
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    opacity: 1;
    cursor: zoom-out;
}
.popup__image {
    position: fixed;
    width: 70vw;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.popup__image.open {
    opacity: 1;
    transform: scale(1);
}
.no-scroll {
    overflow: hidden;
}
/*Header*/
.design_fiction .header{
    margin: 88px  40px 0 40px;
    background-image: url('../assets/images/design_fiction/Background.png');
    padding-bottom: 40px;
    text-align: center;
}
/*Cartes design fiction*/
/*Cartes*/
.design_fiction .contenu{
    background-color: var(--color-cartes-designfiction);
    color: var(--color-texte-cartes-designfiction);
    border-radius: 10px;
    padding: 16px;
    margin-bottom:48px ;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.contenu h4{
    margin: 16px auto;
    text-align: center;
    font-family: 'orbitron';
}
.section1{
    margin-bottom: 40px;
}
/*Footer*/
.footer__link{
    text-decoration: none;
}
/*Crédtis*/
/*Logo*/
.credits .logo{
    width: 20px;
}
/*Titres et textes*/
.credits {
    font-family: 'syne';
    color: var(--color-text-casestudy1);
    background-color: var(--color-background-casestudy1);   
}
.credits h1, .credits h2{
    color: var(--color-text--menu);
}
.credits h2{
    margin: 0 0 0 40px;
}
.credits .header__contenu{
    margin:90px 40px 0; 
}
.credits li{
    margin:16px 0;
}
/*Section*/
.credits .section1, .credits .section2, .credits .section3, .credits .section4{
    border: 1px solid var(--color-btn--casestudy);
    padding: 40px;
    border-radius: 20px;
    margin: 40px 40px 0 40px;
}
.credits .section4__texte{
    margin: 40px 40px 40px 40px;
}
/*Nav*/
.credits .nav__link{
    text-wrap: nowrap;
    margin: 0 16px;
}
.credits .nav__menu{
    top: 0;
}

@media (min-width:500px) and (max-width: 780px){
    /*Design fiction*/
    .design_fiction .section2__img{
        width: 400px;
        height: auto;
        margin: 0 auto;
    }
    /*Portfolio*/
    .back-face{
        padding: 50px 20px;
    }
    .back-face p{
        font-size: 16px;
        margin-top: 32px;
    }
    .carte__btn, .gastrozen__btn{
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 14px;
    }
    .cartes{
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

/*Responsive tablette*/
@media (min-width:780px){
    /*Grille*/
    .grid{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 20px;
    }
    .tgrid-start1{
        grid-column-start: 1;
    }
    .tgrid-start2{
        grid-column-start: 2;
    }
    .tgrid-start3{
        grid-column-start: 3;
    }
    .tgrid-start4{
        grid-column-start: 4;
    }
    .tgrid-start5{
        grid-column-start: 5;
    }
    .tgrid-start6{
        grid-column-start: 6;
    }
    .tgrid-start7{
        grid-column-start: 7;
    }
    .tgrid-end2{
        grid-column-end: 2;
    }
    .tgrid-end3{
        grid-column-end: 3;
    }
    .tgrid-end4{
        grid-column-end: 4;
    }
    .tgrid-end5{
        grid-column-end: 5;
    }
    .tgrid-end6{
        grid-column-end: 6;
    }
    .tgrid-end7{
        grid-column-end: 7;
    }
    .tgrid-end8{
        grid-column-end: 8;
    }
    /*Commun*/
    /*Titres et textes*/
    h1{
        font-size: 58px;
        margin-top: 64px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size:25px
    }
    h4{
        font-size: 18px; 
    }
    p{
        font-size: 18px;
    }
    li{
        font-size: 18px;
        margin: 8px 0;
    }
    /*Case study*/
    /*Titres et textes*/
    .h2__header{
        margin-top: 32px;
    }
    .number{
        position: sticky;
        top: 100px;
        font-size:64px;
        transform: translate(-16px,-35%);
    }
    .legende{
        font-size:14px;
        text-align: center;
    }
    .phrases{
        padding: 0;
    }
    /*Carrés*/
    .square{
        width: 82px;
        height: 82px;
        margin-top: 16px;
    }
    .empty__square{
        width: 82px;
        height: 82px;
        margin-top: 16px;
    }
    .section1__couleurs--square{
        justify-content: space-between;
    }
    .section2__couleurs--secondaires .blue__square,
    .section2__couleurs--secondaires .lightblue__square,
    .section2__couleurs--secondaires .C56__square,
    .section2__couleurs--secondaires .C91__square,
    .section2__couleurs--secondaires .grey__square,
    .section2__couleurs--secondaires .darkgrey__square,
    .section2__couleurs--secondaires .lightgrey__square{
        width: 60px;
        height: 60px;
    }
    .section2__couleurs{
        justify-content: space-evenly;
    }
    /*Icones*/
   .icones{
        width: 33px;
        height: 32px;
    }
    .section2__grille--icones--img{
        height: fit-content;
        flex-wrap: wrap;
    }
    .section2__grille--icones{
        margin-top: 16px;
    }
    /*Images*/
     .logo{
        height: 51px;
        width: auto;
    }
    /*Buttons*/
    .section3__btn--site a, .section3__btn--projets a, .section3__btn--contact a{
        font-size: 16px;
    }
    .section3__btn{
        justify-content: space-between;
    }
    /*Navigation*/
    .nav__btn{
        display: none;
    }
    .nav__menu{
        display: flex;
        background:none;
        flex-direction: row;
        padding: 0 8px;
        height: fit-content;
        justify-content: space-evenly;
        top: 20px
    }
    .nav__link{
        color: var(--color-texte-casestudy1);
    }
    a.nav__link:active{
        text-decoration: underline;
    }
    /*Section*/
    .janus .section1, .janus .section2, .janus .section3, .dataplay .section1, .dataplay .section2, .dataplay .section3{
    margin: 0 80px;
    }
    /*Design fiction*/
    /*Section*/
    .design_fiction .section1{
        margin: 0  50px 104px 50px;
    } 
    .design_fiction .section2{
        margin: 0 50px;
    }
    .section1 p{
        margin: 0;
    }
    .contenu{
        padding: 32px;
    }
    /*Img*/
    .picto{
        width: 77px;
        height: 77px;
        margin-right: 30px;
    }
    .contenu img{
        width: 80%;
        height: auto;
        margin: 0 auto 32px auto;
        cursor: zoom-in;
    }
    .logo{
        width: 90px;
        height: auto;
        margin-top: 16px;
    }
    .janus .logo{
        width: 50px;
    }
    /*Portfolio*/
    /*Cartes*/
    .portfolio .carte{
        width: 20%;
    }
    .carte.center{
        width: 25%;
    }
    .carte.left-2, .carte.right-2 {
        display: block;
        width: 15%;
    }
    .back-face{
        padding: 10px 20px;
    }
    .back-face p{
        font-size: 18px;
        margin-top: 32px;
    }
    .carte__btn, .gastrozen__btn{
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    /*Nav*/
    .portfolio .nav__link{
        color: var(--color-text-header-portfolio);
    }
    .portfolio .nav__menu{
        padding-right: 0;
        transform: translateX(16px);
    }
    /*Titres et textes*/
    .portfolio h1{
        margin-top: 64px;
    }
    .portfolio .section1 h3{
        margin-bottom: 104px;
        margin-left: 80px;
    }
    .portfolio .section2 h3{
        margin-top: 104px;
    }
    .portfolio .header__text p, .portfolio .insta__btn{
        transform: translateY(-50px);
    }
    /*Skills*/
    .portfolio .skill__ligne1, .portfolio .skill__ligne2{
        display: flex;
        justify-content: space-around;
        width: calc(100% - 8.5%);
    }
    .portfolio .skill__ligne1{
        transform: translateX(-8.5%);
    }
    .portfolio .skill__ligne2{
        transform: translateX(8.5%);
    }
    .portfolio .skill{
        width: 140px;
    }
    /*Img*/
    .portfolio .header__img--paysage{
        margin-top:64px
    }
    /*Button*/
    .portfolio .insta__btn{
            height: fit-content;
    }
    /*Section*/
    .portfolio .section2{
    margin:80px 50px;
    }
}
@media (min-width:1250px){
    /*Grille*/
    .grid{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 20px;
    }
    .pgrid-start1{
        grid-column-start: 1;
    }
    .pgrid-start2{
        grid-column-start: 2;
    }
    .pgrid-start3{
        grid-column-start: 3;
    }
    .pgrid-start4{
        grid-column-start: 4;
    }
    .pgrid-start5{
        grid-column-start: 5;
    }
    .pgrid-start6{
        grid-column-start: 6;
    }
    .pgrid-start7{
        grid-column-start: 7;
    }
    .pgrid-start8{
        grid-column-start: 8;
    }
    .pgrid-end2{
        grid-column-end: 2;
    }
    .pgrid-end3{
        grid-column-end: 3;
    }
    .pgrid-end4{
        grid-column-end: 4;
    }
    .pgrid-end5{
        grid-column-end: 5;
    }
    .pgrid-end6{
        grid-column-end: 6;
    }
    .pgrid-end7{
        grid-column-end: 7;
    }
    .pgrid-end8{
        grid-column-end: 8;
    }
    .pgrid-end9{
        grid-column-end: 9;
    }
    .pgrid-end10{
        grid-column-end:10;
    }
    /*Lien crédtis*/
    .footer__link:hover{
        text-decoration: underline;
        color: var(--color-btn-portfolio);
        transition: all 0.3s ease-in-out;
    }
    /*Case study*/
    /*Section*/
    .janus .section1, .janus .section2, .janus .section3, .dataplay .section1, .dataplay .section2, .dataplay .section3{
    margin: 0 100px;
    }
    .section2__couleurs__principales{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
        margin-bottom: 24px;;
    }
    .section2__couleurs--secondaires{
        display: flex;
        flex-direction: row;
        height: fit-content;
    }
    .section2__couleurs{
        height: fit-content;
    }
    /*typo*/
    h1{
        font-size: 62px;
        margin-top: 64px;
    }
    h2{
        font-size: 43px;
    }
    .h2__header{
        margin-top: 32px;
    }
    h3{
        font-size:29px
    }
    h4{
        font-size: 20px; 
    }
    p{
        font-size: 20px;
    }
    .number{
        font-size:90px;
        margin-top: 8px;
    }
    li{
        font-size: 20px;
        margin: 8px 0;
    }
    .phrases{
        padding: 0;
    }
    .legende{
        font-size:16px;
        text-align: center;
    }
    /*Images*/
    .logo{
        margin-bottom: 16px;
    }
    /*Section*/
    .section2__typo1{
        margin-bottom: 56px;
    }
    .section2__typo3{
        margin-bottom: 56px;
    }
    .section3__btn{
        display: flex;
        justify-content: space-evenly;
        /* border-radius: 20px; */
    }
    .section3__btn--site a, .section3__btn--projets a, .section3__btn--contact a{
        font-size: 18px;
    }
    .section2__grille--espacement{
        margin-top: 0;
    }
    .section2__typographie1, .section2__typographie2, .section2__typographie3{
        margin-top: 64px;
    }
    /*Carrés*/
    .square{
        width: 120px;
        height: 120px;
    }
    .section2__couleurs--secondaires .blue__square,
    .section2__couleurs--secondaires .lightblue__square,
    .section2__couleurs--secondaires .C56__square,
    .section2__couleurs--secondaires .C91__square,
    .section2__couleurs--secondaires .grey__square,
    .section2__couleurs--secondaires .darkgrey__square,
    .section2__couleurs--secondaires .lightgrey__square{
        width: 100px;
        height: 100px;
    }
    .empty__square{
        width: 120px;
        height: 120px;
    }
    .section1 .darkblue, .white, .grey, .black{
    align-items: normal;
    height: min-content;
    }
    /*Lines*/
    .big__line{
        margin: 88px 0;
    }
    /*Footer*/
    .footer__link{
        font-size: 20px;
    }
    /*nav*/
    .nav__menu{
        padding: 0 8px;
    }

    /*Design fiction*/
    /*Images*/
    .picto{
        width: 102px;
        height: 102px;
    }
    .design_fiction .contenu img{
        width: 90%;
        height: auto;
        cursor: zoom-in;
    } 
    .design_fiction .section2__img{
        transition: width 0.5s ease;
    }
    .design_fiction .section2__img.expanded {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
        z-index: 1000;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        overflow-y: hidden;
    }
    .design_fiction .section2__img.fixed{
        position: fixed;
    }
    .design_fiction .section2__img:hover:not(.expanded){
        transform: scale(1.05);
    }
    /*Titres et textes*/
    .design_fiction h2{
        margin-bottom: 64px;
    }
    /*Portfolio*/
    /*Icones*/
    .portfolio .insta:hover, .portfolio .linkedin:hover, .portfolio .github:hover{
    transition: 0.5s ease;
    transform: scale(1.2);
    }
    .portfolio .contact__reseaux--mail:hover{
        transition: 0.5s ease-in-out;
        color: var(--color-btn-portfolio);
    }
    /*Texts*/
    .portfolio .header__text{
        margin-top: 40px;
    }
    .portfolio p{
        font-size: 20px;
    }
    .portfolio .section1 h3{
        margin-bottom: 128px;
        margin-left: 80px;
    }
    /*Cartes*/
    .portfolio .carte{
        width: 15%;
    }
    .portfolio .carte.center{
        width: 20%;
        &:hover{
            box-shadow: 0 5px 9px #FFFFFF;
        }
    }
    .portfolio .carte.left-2, .portfolio .carte.right-2 {
        display: block;
        width: 10%;
    }
    .portfolio .back-face p{
        font-size: 18px;
        padding: 40px 20px ;
        margin-bottom: 24px;
        text-align: center;
    }
    .portfolio .carte__btn, .portfolio .gastrozen__btn{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .dataplay__casestudy, .janus__casestudy{
        font-size: 16px;
    }
    /*Skills*/
    .portfolio .skill{
        width: 150px;
    }
    .portfolio .skills__texte{
        margin-top: 40px;
        margin-bottom: 104px;
    }
    .portfolio .skills__texte2{
        margin-top: 0;
    }
    .portfolio .section2{
        margin-top: 200px;
    }
    /*Section*/
    .portfolio .section3{
        padding: 0 200px;
    }
    /*Contact*/
    .portfolio .contact__reseaux{
        margin-top: 61px;
    }
    .portfolio .contact__reseaux--mail{
        font-size: 20px;
    }
    .contact__reseaux--logo{
       margin-top: 32px;
    }
}